@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');

/* Existing font-face definitions */
@font-face {
  font-family: "Clash";
  src: url("../public/ClashDisplay_Complete/ClashDisplay-Regular.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bold";
  src: url("../public/ClashDisplay_Complete/ClashDisplay-Bold.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Medium";
  src: url("../public/ClashDisplay_Complete/ClashDisplay-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Tailwind CSS utilities and custom styles */
.link {
  @apply hover:text-black transition-all text-gray-500;
}
.box {
  @apply px-2 sm:px-6 border-r py-4;
}
h1 {
  @apply Medium;
}
.Clash {
  font-family: "Clash", sans-serif;
}
.Bold {
  font-family: "Bold", sans-serif;
}
.Medium {
  font-family: "Medium", sans-serif;
}
* {
  @apply Clash;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  /* @apply bg-gray-50 */
}

/* Apply Inter to all <p> tags */

.Inter{
  font-family: 'Inter', sans-serif;
}
li{
  font-family: 'Inter', sans-serif;
}

