@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Clash";
  src: url("../public/ClashDisplay_Complete/ClashDisplay-Regular.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bold";
  src: url("../public/ClashDisplay_Complete/ClashDisplay-Bold.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Medium";
  src: url("../public/ClashDisplay_Complete/ClashDisplay-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.link {
  @apply hover:text-black transition-all text-gray-500;
}
.box {
  @apply px-2 sm:px-6 border-r py-4;
}
h1 {
  @apply Medium;
}
.Clash {
  font-family: "Clash", sans-serif;
}
.Bold {
  font-family: "Bold", sans-serif;
}
.Medium {
  font-family: "Medium", sans-serif;
}
* {
  @apply Clash;
}
html {
  overflow-x: hidden;
}
